@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alata&display=swap");

:root {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
  --active-color: #3a0ca3;
  --primary-button-color: #ffd400;
  --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Dark Mode */
body.dark {
  --background-color: black;
  --text-color: white;
  --link-color: lightblue;
  --active-color: #3a0ca3;
  --primary-button-color: #ffd400;
  --box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 100%;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.card {
  /* max-width: 550px; */
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
}
